{% extends "layout.html" %}
{% block head %}
    <title>Recipe Home</title>
{% endblock %}
{% block body %}
    <div class="container">
        <div class="form">
            <form class="user-input" action="/" method="post">
                <input id="food_name" type="text" name="food_name" autocomplete="off" required/>
                <label>Food Name</label>
                <input id="submit" type="submit" disabled>
            </form>
        </div>
        <div class="food-name-display">
            <h3><span class="search-query">Query => {{ food_name }}<span class="return-result">Result => {{recipe.title}}</span></span></h3>
        </div>
        <div class="food-recipe">
            <ul>
                {% for each in recipe.extendedIngredients %}
                    <li>{{each.measures.us.amount}} {{each.measures.us.unitShort}} {{each.name}} </li>
                {% endfor %}
            </ul>
        </div>
        <div class="preptime-sourceurl">
            <h3>Prep Time: <span class="count">{{recipe.prepTime}}</span> mins</h3>
            <a href="{{recipe.sourceUrl}}" target="_blank">Source URL</a>
        </div>
        <div class="food-image">
            <img src={{recipe.image}} >
        </div>
        <div class="tweet-section">
            <blockquote>{{tweet.text}}<i><span>{{tweet.username}}</span>{{tweet.created_at}}</i></blockquote>
        </div>
    </div>
    
    <script src={{ url_for('static', filename='script.js') }}></script>
{% endblock %}