{% extends "layout.html" %}
{% block head %}
    <title>Recipe Not Found</title>
    <link rel="stylesheet" href={{ url_for('static', filename='style.css') }} />
    <style>
        .back-button{
            width: 100%;
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: space-around;
        }
        a {
            background-color: red;
            box-shadow: 0 5px 0 darkred;
            color: white;
            padding: 1em 1.5em;
            position: relative;
            height: max-content;
            text-decoration: none;
            text-transform: uppercase;
        }
        a:hover {
            background-color: #ce0606;
        }
        a:active {
            box-shadow: none;
            top: 5px;
        }
        h1{
            text-align:center;
            font-size: 3rem;
            font-weight:bold;
        }
    </style>
{% endblock %}
{% block body %}
    <div class="back-button">
        <a href="/">Back</a>
        <h1 style="text-align:center;font-size: 3rem;font-weight:bold;">Recipe for {{ query.query }} not found.</h1>
    </div>
{% endblock %}